.container {
    width: 20vw;
    margin: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    border: 3px blue solid;
    border-radius: 20px;
}

.header {
    display: flex;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #BEACAC;
}

.title {
    color: #4652BF;
    margin: 0 auto;
}

.edit {
    width: 20px;
    height: 20px;
}

.content {
    display: flex;
    justify-content: left;
    padding-bottom: 8px;
}

.cityArea {
    margin-left: auto
}

.locationContainer {
    display: flex;
    flex-direction: column;
    font-size: small;
}